In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#import csv file and specify the file path
import csv

csv_file_path = 'C:\\Users/DELL/Desktop/ACW data assignment_files/acw_user_data.csv'

#create an empty list to store the data 
dataset = []

with open(csv_file_path, mode = "r") as csv_file:
    csv_reader = csv.reader(csv_file)
    
    # skip the header row if it exists
    header = next(csv_reader, None)
    
    for row in csv_reader:
        dataset.append(row)
        
#print the first few rows of dataset 

for i in range(min(6, len(dataset))):
    print(dataset[i])

['70 Lydia isle', 'Lake Conor', 'S71 7XZ', '89', '0', 'N/A', '08/18', '11/27', '676373692463', '875', '3', 'Kieran', 'GB62PQKB71416034141571', 'Wilson', 'married or civil partner', '7257', 'True', '72838', 'Male', 'Hyundai', 'Bonneville', '2009', 'Pickup']
['00 Wheeler wells', 'Chapmanton', 'L2 7BT', '46', '13.72', 'Begum-Williams', '08/12', '11/26', '4529436854129855', '583', '1', 'Jonathan', 'GB37UMCO54540228728019', 'Thomas', 'married or civil partner', '0', 'False', '54016', 'Male', 'Nissan', 'ATS', '1996', 'Coupe']
['Studio 33K Joel walk', 'Randallborough', 'ME3N 1GH', '22', '16.02', 'Hill-Wright', '11/19', '07/27', '4091726363083888495', '422', '1', 'Antony', 'GB40CVUE84011545859591', 'Jones', 'married or civil partner', '0', 'False', '68049', 'Male', 'GMC', 'Achieva', '2015', 'Convertible, Coupe']
['Studio 46S Bethany lights', 'East Reece', 'E10 9RJ', '56', '19.35', 'Green LLC', '10/17', '04/18', '4671332769487632633', '669', '2', 'Henry', 'GB40YPKK71613332239280', 'Shaw', 'married or civil partner', '0', 'False', '91337', 'Male', 'Scion', 'F150 SuperCrew Cab', '1994', 'Pickup']
['Flat 3 Christine views', 'Fletcherstad', 'WS2 9SN', '57', '5.94', 'Hill, Evans and Harrison', '04/19', '11/27', '2245094149128526', '659', '2', 'Jodie', 'GB95WAYW31715898077181', "O'Brien", 'married or civil partner', '0', 'False', '18446', 'Female', 'Buick', 'Outback', '2020', 'SUV']
['Studio 43M Emily rapid', 'West Derekborough', 'W1J 0DL', '23', '10.73', 'Gill and Sons', '03/15', '05/15', '4485214746578045493', '123', '3', 'Ryan', 'GB29SSDY05529526374313', 'Clarke', 'married or civil partner', '0', 'False', '38100', 'Male', 'Lexus', 'Paceman', '2004', 'Van/Minivan']

In [16]:
csv_reader

In [ ]:
## coverting flat structures to nested structures
## assuming your dataset.csv is your csv file name.