### TASK 1:  IMPORTING ALL THE NECESSARY LIBRARIES AND READING THE CSV FILE

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
###### 1. READ CSV FILE  ######

In [22]:
filePath = "C:\\Users/DELL/Desktop/ACW data assignment_files/acw_user_data.csv" 
dataset = pd.read_csv(filePath)

dataset.head(7)
dataset.index.astype(int)

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            990, 991, 992, 993, 994, 995, 996, 997, 998, 999],
           dtype='int64', length=1000)

In [23]:
from itertools import count

infinite_indices = count()

df = pd.DataFrame(dataset, index =[next(infinite_indices) for _ in range(len(data['Vehicle Name']))])

KeyError: 'Vehicle Name'

## TASK 2: converting flat structures to nested structures

using the following mapping
a. Vehicle - make, model, year, and type
b. Credit Card - start date, end date, number, security code, and IBAN
c. Address - main address, city, and postcode.

In [18]:
# Create a new dataset with integer indices
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Address Street                  1000 non-null   object
 1   Address City                    1000 non-null   object
 2   Address Postcode                1000 non-null   object
 3   Age (Years)                     1000 non-null   int64
 4   Distance Commuted to Work (Km)  1000 non-null   float64
 5   Employer Company                754 non-null    object
 6   Credit Card Start Date          1000 non-null   object
 7   Credit Card Expiry Date         1000 non-null   object
 8   Credit Card Number              1000 non-null   int64
 9   Credit Card CVV                 1000 non-null   int64
 10  Dependants                      981 non-null    float64
 11  First Name                      1000 non-null   object
 12  Bank IBAN                       1000 non-null   object
 13  Last Name                       1000 non-null   object
 14  Marital Status                  1000 non-null   object
 15  Yearly Pension (GBP)            1000 non-null   int64
 16  Retired                         1000 non-null   bool
 17  Yearly Salary (GBP)             1000 non-null   int64
 18  Sex                             1000 non-null   object
 19  Vehicle Make                    1000 non-null   object
 20  Vehicle Model                   1000 non-null   object
 21  Vehicle Year                    1000 non-null   int64
 22  Vehicle Type                    1000 non-null   object
dtypes: bool(1), float64(2), int64(6), object(14)
memory usage: 180.7+ KB

In [21]:
dataset_conv = pd.DataFrame(dataset)
dataset.index = dataset.index.astype(int)

for row in dataset_conv:
    vehicle = {
        'year': int(row['Vehicle Year']),
        'make': row['Vehicle Make'],
        'model': row['Vehicle model'],
        'type': row['Vehicle type']
    }
    row['vehicle'] = vehicle
    
    credit_card = {
        'start_date': row['start_date'],
        'end_date': row['end_date'],
        'number': row['number'],
        'security_code': row['security_code'],
        'IBAN': row['IBAN']
    }
    row['credit_card'] = credit_card
    
    address = {
        'main_address': row['main_address'],
        'city': row['city'],
        'postcode': row['postcode']
    }
    row['address'] = address

    del row['make']
    del row['model']
    del row['year']
    del row['type']
    del row['start_date']
    del row['end_date']
    del row['number']
    del row['security_code']
    del row['IBAN']
    del row['main_address']
    del row['city']
    del row['postcode']

TypeError: string indices must be integers